.nav-element{
    display: inline;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
    padding:20px;
    font-size: 20px;

}
.nav-element:hover{
    background-color: rgb(39, 39, 39);
    color: darkorchid;
    
}
.grid-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,auto);
    grid-row: repeat(3,100px);
}
.grid-element{
    margin: 10px;
    border: 2px solid darkorchid;
    border-radius: 15px;
    padding: 150px;
    text-align: center;
    transition: transform 0.4s ease-in-out;
}    
